@keyframes changeColor
{
    0% {border: 7px solid grey;}
    100% {border: 7px solid rgb(236, 92, 116);}
}
@keyframes buttonfun 
{
    0% {scale: 50%;}
    100% {scale: 110%;}    
}
@keyframes buttonendfun 
{
    100% {scale: 110%; color: #ffffff;}
    0% {scale: 50%; background-color: rgb(248, 3, 44); transform: scale(200%);}    
}
@keyframes display_blocks 
{
    0% { 
        opacity: 0; 
        display: none; 
    } 
  
    50% { 
        opacity: 0.5; 
        display: inline-block; 
    } 
  
    100% { 
        opacity: 1; 
        display: block; 
    }     
}
.tbl1
{
    animation-name: changeColor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
/*tr:nth-child(even){background-color: grey;}*/
#div1
{
    width: 211px;
    border: 5px solid rgb(194, 55, 141); border-radius: 10px; 
    background-color: rgba(245, 121, 245, 0.801);
    padding-top: 10px; padding-right: 10px; padding-bottom: 25px; padding-left: 10px;
    margin-left: 41%;
    box-shadow: 15px 15px 10px 1px grey;
    text-align: center;
}
#general
{
    height: 350px;
    width: 1000px;
    padding-top: 20px;
}
#general1
{
    height: 150px;
    width: 1500px;
    padding-top: 20px;
}
#div2
{
    padding-left: 5%;
    float: left;
}
#div3
{
    float: right;
    padding-right: 70px;
}
#div4
{
    width: 250px; height: 200px;
    padding-left: 5%;
    padding-top: 1%;
    background-image: url("https://img.razrisyika.ru/kart/27/1200/107258-malenkie-kotiki-33.jpg");
    background-size: contain;
    float: left;
}
#div_pup {width: 460px; height: 200px; float: left;}
#div5
{
    float: left;
    padding-bottom: 150px;
    padding-right: 175px;
    width: 200px;
}
table{border-collapse: collapse;}
h1{color: red;}
p{font-family: Arial;}
a{font-size: 24px; color: rgb(255, 255, 255); padding-left: 15px;}
a:hover{color: rgb(253, 6, 233); transition: color 2s;}
ul
{
    list-style: square;
    font-size: 20px;
    color: white;
}
#img1
{
    border: 4px solid rgb(236, 92, 116);
    border-radius: 5%;
}
.btn1
{
    animation-name: buttonendfun;
    animation-duration: 60ms;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.btn1:hover
{
    background-color: rgb(248, 3, 44);
    transform: scale(200%);   
    transition: background-color 2s, transform 1s;
    animation-name: buttonfun;
    animation-duration: 70ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.dropbtn {
    background-color: rgba(245, 121, 245, 0.801);
    border: 2px solid rgb(194, 55, 141); border-radius: 10px; 
    color: white; text-shadow: 5px 1px 2px rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 14px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content 
{
    display: block;
    animation-name: display_blocks;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.dropdown:hover .dropbtn {background-color: rgb(253, 6, 233);}
h1,h2,h3,h4,h5,h6{font-size: 18px;}